<?xml version='1.0' encoding='utf-8'?>
<robot name="ur3e_ezgripper">
  <link name="world" />
  <link name="base_link" />
  <link name="base_link_inertia">
    <visual>
      <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ur3e/visual/base.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ur3e/collision/base.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="2.0" />
      <origin rpy="0 0 0" xyz="0 0 0" />
      <inertia ixx="0.0030531654454" ixy="0.0" ixz="0.0" iyy="0.0030531654454" iyz="0.0" izz="0.005625" />
    </inertial>
  </link>
  <link name="shoulder_link">
    <visual>
      <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ur3e/visual/shoulder.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ur3e/collision/shoulder.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="1.98" />
      <origin rpy="1.570796326794897 0 0" xyz="0.0 0.0 -0.02" />
      <inertia ixx="0.0027657" ixy="9.6e-06" ixz="-1.49e-05" iyy="0.0021501" iyz="0.0001873" izz="0.0025626" />
    </inertial>
  </link>
  <link name="upper_arm_link">
    <visual>
      <origin rpy="1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0.12" />
      <geometry>
        <mesh filename="meshes/ur3e/visual/upperarm.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0.12" />
      <geometry>
        <mesh filename="meshes/ur3e/collision/upperarm.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="3.4445" />
      <origin rpy="0 0 0" xyz="-0.11355 0.0 0.1157" />
      <inertia ixx="0.0042623" ixy="-4.09e-05" ixz="-0.001496" iyy="0.0460284" iyz="-1.29e-05" izz="0.0448947" />
    </inertial>
  </link>
  <link name="forearm_link">
    <visual>
      <origin rpy="1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0.027" />
      <geometry>
        <mesh filename="meshes/ur3e/visual/forearm.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 -1.5707963267948966" xyz="0 0 0.027" />
      <geometry>
        <mesh filename="meshes/ur3e/collision/forearm.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="1.437" />
      <origin rpy="0 0 0" xyz="-0.1632 0.0 0.0238" />
      <inertia ixx="0.0010511" ixy="0.0" ixz="-3.31e-05" iyy="0.0113396" iyz="2.2e-06" izz="0.0110895" />
    </inertial>
  </link>
  <link name="wrist_1_link">
    <visual>
      <origin rpy="1.5707963267948966 0 0" xyz="0 0 -0.104" />
      <geometry>
        <mesh filename="meshes/ur3e/visual/wrist1.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0 0 -0.104" />
      <geometry>
        <mesh filename="meshes/ur3e/collision/wrist1.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.871" />
      <origin rpy="1.570796326794897 0 0" xyz="0.0 -0.01 0.0" />
      <inertia ixx="0.0008174" ixy="-5e-07" ixz="2.1e-06" iyy="0.0006844" iyz="6.17e-05" izz="0.0005497" />
    </inertial>
  </link>
  <link name="wrist_2_link">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 -0.08535" />
      <geometry>
        <mesh filename="meshes/ur3e/visual/wrist2.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 -0.08535" />
      <geometry>
        <mesh filename="meshes/ur3e/collision/wrist2.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.805" />
      <origin rpy="-1.570796326794897 0 0" xyz="0.0 0.01 0.0" />
      <inertia ixx="0.0006059" ixy="-6e-07" ixz="-6e-07" iyy="0.0005837" iyz="-2.71e-05" izz="0.0003831" />
    </inertial>
  </link>
  <link name="wrist_3_link">
    <visual>
      <origin rpy="1.5707963267948966 0 0" xyz="0 0 -0.0921" />
      <geometry>
        <mesh filename="meshes/ur3e/visual/wrist3.dae" />
      </geometry>
    </visual>
    <collision>
      <origin rpy="1.5707963267948966 0 0" xyz="0 0 -0.0921" />
      <geometry>
        <mesh filename="meshes/ur3e/collision/wrist3.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value="0.261" />
      <origin rpy="0 0 0" xyz="0.0 0.0 -0.02" />
      <inertia ixx="0.000108" ixy="-1e-07" ixz="-1e-07" iyy="0.0001086" iyz="-2e-07" izz="0.0001371" />
    </inertial>
  </link>
  <joint name="base_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0 0" />
    <parent link="world" />
    <child link="base_link" />
  </joint>
  <joint name="base_link-base_link_inertia" type="fixed">
    <parent link="base_link" />
    <child link="base_link_inertia" />
    <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
  </joint>
  <joint name="shoulder_pan_joint" type="revolute">
    <parent link="base_link_inertia" />
    <child link="shoulder_link" />
    <origin rpy="0 0 0" xyz="0 0 0.15185" />
    <axis xyz="0 0 1" />
    <limit effort="54.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="shoulder_lift_joint" type="revolute">
    <parent link="shoulder_link" />
    <child link="upper_arm_link" />
    <origin rpy="1.570796327 0 0" xyz="0 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="54.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="elbow_joint" type="revolute">
    <parent link="upper_arm_link" />
    <child link="forearm_link" />
    <origin rpy="0 0 0" xyz="-0.24355 0 0" />
    <axis xyz="0 0 1" />
    <limit effort="28.0" lower="-3.141592653589793" upper="3.141592653589793" velocity="3.141592653589793" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_1_joint" type="revolute">
    <parent link="forearm_link" />
    <child link="wrist_1_link" />
    <origin rpy="0 0 0" xyz="-0.2132 0 0.13105" />
    <axis xyz="0 0 1" />
    <limit effort="9.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="6.283185307179586" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_2_joint" type="revolute">
    <parent link="wrist_1_link" />
    <child link="wrist_2_link" />
    <origin rpy="1.570796327 0 0" xyz="0 -0.08535 -1.750557762378351e-11" />
    <axis xyz="0 0 1" />
    <limit effort="9.0" lower="-6.283185307179586" upper="6.283185307179586" velocity="6.283185307179586" />
    <dynamics damping="0" friction="0" />
  </joint>
  <joint name="wrist_3_joint" type="continuous">
    <parent link="wrist_2_link" />
    <child link="wrist_3_link" />
    <origin rpy="1.570796326589793 3.141592653589793 3.141592653589793" xyz="0 0.0921 -1.8890025766262e-11" />
    <axis xyz="0 0 1" />
    <limit effort="9.0" velocity="6.283185307179586" />
    <dynamics damping="0" friction="0" />
  </joint>
  <link name="ft_frame" />
  <joint name="wrist_3_link-ft_frame" type="fixed">
    <parent link="wrist_3_link" />
    <child link="ft_frame" />
    <origin rpy="3.141592653589793 0 0" xyz="0 0 0" />
  </joint>
  <link name="base" />
  <joint name="base_link-base_fixed_joint" type="fixed">
    <origin rpy="0 0 3.141592653589793" xyz="0 0 0" />
    <parent link="base_link" />
    <child link="base" />
  </joint>
  <link name="flange" />
  <joint name="wrist_3-flange" type="fixed">
    <parent link="wrist_3_link" />
    <child link="flange" />
    <origin rpy="0 -1.5707963267948966 -1.5707963267948966" xyz="0 0 0" />
  </joint>
  <link name="tool0">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.012" />
      </geometry>
      <material name="tcp_green">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
  </link>
  <joint name="flange-tool0" type="fixed">
    <origin rpy="1.5707963267948966 0 1.5707963267948966" xyz="0 0 0" />
    <parent link="flange" />
    <child link="tool0" />
  </joint>
  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0" />
  </material>
  <material name="blue">
    <color rgba="0.0 0.0 0.8 1.0" />
  </material>
  <material name="grey">
    <color rgba="0.5 0.5 0.5 1" />
  </material>
  <link name="gripper_ezgripper_mount">
    <visual>
      <origin rpy="0 -1.57079632679 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/visual/SAKE_Single_Mount.stl" />
      </geometry>
      <material name="blue" />
    </visual>
    <collision>
      <origin rpy="0 -1.57079632679 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/collision/SAKE_Single_Mount.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value=".3" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>
  <joint name="gripper_ezgripper_mount2base" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.0" />
    <parent link="tool0" />
    <child link="gripper_ezgripper_mount" />
    <axis xyz="0 0 0" />
    <limit effort="0" lower="-1.57075" upper="0.25" velocity="3.67" />
  </joint>
  <link name="gripper_ezgripper_palm_link">
    <visual>
      <origin rpy="0 0 0" xyz="0.0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/visual/SAKE_Palm_IM.stl" />
      </geometry>
      <material name="blue" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0.0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/collision/SAKE_Palm_IM.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value=".3" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>
  <joint name="gripper_ezgripper_mount2palm" type="fixed">
    <origin rpy="0 -1.57079632679 0" xyz="0 0 0" />
    <parent link="gripper_ezgripper_mount" />
    <child link="gripper_ezgripper_palm_link" />
    <axis xyz="0 0 0" />
    <limit effort="0" lower="-1.57075" upper="0.25" velocity="3.67" />
  </joint>
  <link name="gripper_ezgripper_finger_L1_1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/visual/SAKE_Finger_L1_IM.stl" />
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/collision/SAKE_Finger_L1_IM.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value=".025" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>
  <link name="gripper_ezgripper_finger_L1_2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/visual/SAKE_Finger_L1_IM.stl" />
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/collision/SAKE_Finger_L1_IM.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value=".025" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>
  <link name="gripper_ezgripper_finger_L2_1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/visual/SAKE_Finger_L2_IM.stl" />
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/collision/SAKE_Finger_L2_IM.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value=".025" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>
  <link name="gripper_ezgripper_finger_L2_2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/visual/SAKE_Finger_L2_IM.stl" />
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/collision/SAKE_Finger_L2_IM.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value=".025" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>
  <link name="gripper_ezgripper_finger_pad_1">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/visual/SAKE_Finger_Pad_IM.stl" />
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/collision/SAKE_Finger_Pad_IM.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value=".025" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>
  <link name="gripper_ezgripper_finger_pad_2">
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/visual/SAKE_Finger_Pad_IM.stl" />
      </geometry>
      <material name="grey" />
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="meshes/ezgripper/collision/SAKE_Finger_Pad_IM.stl" />
      </geometry>
    </collision>
    <inertial>
      <mass value=".025" />
      <inertia ixx="0.01" ixy="0.0" ixz="0.0" iyy="0.01" iyz="0.0" izz="0.01" />
    </inertial>
  </link>
  <joint name="gripper_ezgripper_knuckle_palm_L1_1" type="revolute">
    <parent link="gripper_ezgripper_palm_link" />
    <child link="gripper_ezgripper_finger_L1_1" />
    <origin rpy="-1.5708 0 0" xyz="0.0595 0.03 0" />
    <axis xyz="0 1 0" />
    <limit effort="1" lower="-1.57075" upper="0.27" velocity="3.67" />
  </joint>
  <joint name="gripper_ezgripper_knuckle_palm_L1_2" type="revolute">
    <parent link="gripper_ezgripper_palm_link" />
    <child link="gripper_ezgripper_finger_L1_2" />
    <origin rpy="1.5708 0 0" xyz="0.0595 -0.03 0" />
    <axis xyz="0 1 0" />
    <limit effort="1" lower="-1.57075" upper="0.27" velocity="3.67" />
    <mimic joint="gripper_ezgripper_knuckle_palm_L1_1" />
  </joint>
  <joint name="gripper_ezgripper_knuckle_L1_L2_1" type="fixed">
    <parent link="gripper_ezgripper_finger_L1_1" />
    <child link="gripper_ezgripper_finger_L2_1" />
    <origin rpy="0 0 0" xyz="0.052 0 0" />
    <axis xyz="0 1 0" />
  </joint>
  <joint name="gripper_ezgripper_knuckle_L1_L2_2" type="fixed">
    <parent link="gripper_ezgripper_finger_L1_2" />
    <child link="gripper_ezgripper_finger_L2_2" />
    <origin rpy="0 0 0" xyz="0.052 0 0" />
    <axis xyz="0 1 0" />
  </joint>
  <joint name="gripper_ezgripper_joint_finger_pad1" type="fixed">
    <parent link="gripper_ezgripper_finger_L2_1" />
    <child link="gripper_ezgripper_finger_pad_1" />
    <origin rpy="0 -0.2318 0" xyz="0.01849 0 0" />
    <axis xyz="0 1 0" />
  </joint>
  <joint name="gripper_ezgripper_joint_finger_pad2" type="fixed">
    <parent link="gripper_ezgripper_finger_L2_2" />
    <child link="gripper_ezgripper_finger_pad_2" />
    <origin rpy="0 -0.2318 0" xyz="0.01849 0 0" />
    <axis xyz="0 1 0" />
  </joint>
  <link name="grasp_tcp">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <sphere radius="0.008" />
      </geometry>
      <material name="grasp_tcp_green">
        <color rgba="0 1 0 1" />
      </material>
    </visual>
  </link>
  <joint name="gripper_grasp_tcp_joint" type="fixed">
    <parent link="gripper_ezgripper_palm_link" />
    <child link="grasp_tcp" />
    <origin xyz="0.11 0 0" rpy="0 0 0" />
  </joint>
</robot>